* {
box-sizing: border-box;
} 


:root {
	--ratio: 1.5;
}




h3 {
}




.stack {
	--space: var(--ratio)
}


.stack > * {
	margin-top: 0;
	margin-bottom: 0;
}

.stack > * + * {
	margin-top: var(--space)
} 
