<html>

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/every.css">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/utility.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Teko&display=swap" rel="stylesheet">
	
</head>

<body>
</body>
	
    <div class="stack center">
        <div class="cluster justify-content:space-between box mobile:center">	
	        <div>
                <div><h1>g0at</h1></div>
            <div class="cluster">
                <ul style="list-style:none; padding-inline-start:0px;">
                    <li><h3>Home</h3></li>
		    <li><h3>Tools</h3></li>
                    <li><h3>About</h3></li>
                </ul>
            </div>
	        </div>
        </div>

	<div class="box">
	{{ content }}
	</div>

	</div>
</html>
